.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen-output {
  background: #858694;
  padding: 12px;
  text-align: end;
  color: white;
}

.col {
  background: #acacb3;
  padding: 15px;
  text-align: center;
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
}

.col:last-child {
  background: #f3933c;
}
