.body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
}

.container-calc {
  display: flex;
  justify-content: space-between;
}

.screen-output {
  background: #858694;
  padding: 15px;
  text-align: end;
  color: white;
}

button {
  margin: 0;
  padding: 15px;
  border: none;
  width: 100%;
  color: #1c1c24;
  border-right: 1px solid #b7b8bb;
  border-bottom: 1px solid #b7b8bb;
  background: #e0e0e0;
}

button:last-child {
  background: #f3933c;
}
