.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.screen-output {
  background: #acacb3;
  padding: 12px;
  text-align: end;
  color: white;
}

button:last-child {
  background: #f3933c;
}

button {
    margin: 0;
    padding: 15px;
    border: none;
    width: 100%;
    border-right: 1px solid #b7b8bb;
    border-bottom: 1px solid #b7b8bb;
}